.nav__container {
    display: flex;
    width: 90%;
    max-width: 610px;
    margin: 42px auto;
    justify-content: space-around;
    border-bottom: 1px solid #BDBDBD;
}

.nav__item {
    font-size: 1rem;
    font-weight: 600;
    padding: 1.125rem;
    cursor: pointer;
    position: relative;
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        border-radius: 4px 4px 0 0;
        background-color: #2F80ED;
        width: 150%;
        height: 4px;
        left: -25%;
        transform-origin: 0 center;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
}
