.nav__container {
    display: flex;
    width: 90%;
    max-width: 610px;
    margin: 42px auto 1.125rem auto;
    border-bottom: 2px solid #BDBDBD;
}


@mixin boder($color, $scale) {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
    background-color: $color;
    width: 100%;
    height: 4px;
    transform-origin: 0 center;
    transform: scaleX($scale);
    transition: transform 0.3s ease;
}
.nav__item {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.125rem;
    cursor: pointer;
    position: relative;

    &:hover, &.current{
        &::after {
            @include boder(#2F80ED, 1)
        }
    }
}
