.todo-item {
    margin-bottom: 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    &:hover {
        img {
            visibility: visible;
        }
    }
    cursor: pointer;
    input[type='checkbox'] {
        margin-right: 0.5rem;
        width: 24px;
        height: 24px;
    }
    img {
        width: 18px;
        height: 18px;
        visibility: hidden;
        margin-left: 1rem;
        &.edit {
            margin-left: 2rem;
            width: 28px;
            height: 28px;
        }
    }
}